<div style="height:100vh">
    <main style="background: url(../../../assets/block-chain.png) no-repeat center center fixed; background-size: cover;">
      <div fxLayout="row" fxLayoutAlign="end center" class="padding" style="height:100vh;margin-right:60px;">
        <mat-card style="position:fixed" style="border-radius: 8px;width:38%;">
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="50">
                <form novalidate autocomplete="off" >
                  <mat-card style="box-shadow: none;border-radius:16px;">
                    <mat-card-content>
                      <div fxLayout="row wrap" fxLayoutAlign="center end">
                        <div fxFlex="100" class="text-center" style="background-color: #767b84; color: white; border-radius: 5px; margin-bottom: 10px;">
                          <h1 style="font-size: 45px; padding-bottom: 6px;">Blockchain</h1>
                        </div>  
                        <div fxLayout="row wrap" fxLayoutAlign="center end">
                          <mat-form-field fxFlex="100">
                            <input matInput placeholder="Name" required  >
                          </mat-form-field>
                          <span class="error" *ngIf="Certify.get('name').touched && Certify.get('name').hasError('required')">
                            Name required
                          </span>
                         
                          <mat-form-field fxFlex="100">
                            <input matInput placeholder="Email" required >
                          </mat-form-field>
                          <span class="error" *ngIf="Certify.get('email').touched && Certify.get('email').hasError('required')">
                            Email required
                          </span>
                          <span class="error" *ngIf="Certify.get('email').touched && Certify.get('email').hasError('pattern')">
                            Enter valid Email
                          </span> 
                          <mat-form-field fxFlex="100">
                            <input matInput placeholder="Mobile" required >
                          </mat-form-field>
                          
                          <mat-form-field fxFlex="100">
                            <mat-select placeholder="Courses Intrested"   >
                              <mat-option *ngFor="let course of courses" [value]="course.value">
                                {{ course.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <div fxFlex="row" fxLayoutAlign="start start" >
                            <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 5px;">
                              <button type="submit" mat-raised-button class="reg-btn" (click)="registerr()" style="background-color: #767b84; color: white; padding: 5px 100px 5px 100px;
                              font-size: 21px; border-radius: 5px;">
                                Certify
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="status" *ngIf="showServerError">{{showServerError}}</div>
                        <div class="topic-title" *ngIf="registerSuccess">{{registerSuccess}}</div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </form>
              </div>
            </div>
          </mat-card-content>
  
        </mat-card>
      </div>
    </main>
  </div>

  


  