<main class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src='{{logo}}'>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Verify Certificate</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
              <mat-form-field>
                  <input matInput placeholder="Transaction Id"  required>
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <input matInput placeholder="Transaction Id"  required>
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <button type="submit" mat-raised-button style="background-color: #767b84; color: white; padding: 5px 100px 5px 100px;
                        font-size: 21px; border-radius: 5px; margin-left: 60px;">
                          Verify
                </button>
                
          </div>
        </div>
    </div>
</main>